USE [riyeldb]
GO
/****** Object:  Table [dbo].[CheckIn]    Script Date: 5/13/2024 12:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CheckIn](
	[CId] [varchar](50) NULL,
	[CName] [varchar](50) NULL,
	[CPhone] [int] NULL,
	[CAddress] [varchar](50) NULL,
	[RId] [varchar](50) NULL,
	[RType] [varchar](50) NULL,
	[CDate] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 5/13/2024 12:34:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CId] [varchar](50) NOT NULL,
	[CName] [varchar](50) NOT NULL,
	[CPhone] [int] NOT NULL,
	[CAddress] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 5/13/2024 12:34:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [varchar](20) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Role] [varchar](50) NOT NULL,
	[DOB] [date] NOT NULL,
	[Gender] [varchar](10) NOT NULL,
	[Salary] [int] NULL,
	[Phone] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 5/13/2024 12:34:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[RId] [varchar](20) NOT NULL,
	[RName] [varchar](50) NOT NULL,
	[RType] [varchar](50) NOT NULL,
	[RStatus] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[RId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Userinfo]    Script Date: 5/13/2024 12:34:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Userinfo](
	[Id] [varchar](50) NOT NULL,
	[Name] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[Role] [varchar](50) NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CheckIn] ([CId], [CName], [CPhone], [CAddress], [RId], [RType], [CDate]) VALUES (N'c-001', N'Tanzim', 1987645632, N'Meherpur', N'r-001', N'Single', CAST(N'2024-05-13' AS Date))
GO
INSERT [dbo].[Employee] ([Id], [Name], [Role], [DOB], [Gender], [Salary], [Phone]) VALUES (N'E-001', N'Amit', N'Cleaner', CAST(N'1993-09-23' AS Date), N'Male', 12000, N'01763546847')
INSERT [dbo].[Employee] ([Id], [Name], [Role], [DOB], [Gender], [Salary], [Phone]) VALUES (N'E-002', N'Chloe', N'Chef', CAST(N'1997-07-09' AS Date), N'Female', 20000, N'1984526943')
INSERT [dbo].[Employee] ([Id], [Name], [Role], [DOB], [Gender], [Salary], [Phone]) VALUES (N'E-003', N'Emilia', N'Room Service ', CAST(N'1995-07-26' AS Date), N'Female', 15000, N'1645387642')
GO
INSERT [dbo].[Room] ([RId], [RName], [RType], [RStatus]) VALUES (N'r-001', N'1A', N'Single', N'Available ')
INSERT [dbo].[Room] ([RId], [RName], [RType], [RStatus]) VALUES (N'r-002', N'2A', N'Double', N'Avilable')
GO
INSERT [dbo].[Userinfo] ([Id], [Name], [Password], [Role]) VALUES (N'u-001', N'Riyel', N'1234', N'Admin')
INSERT [dbo].[Userinfo] ([Id], [Name], [Password], [Role]) VALUES (N'u-002', N'Lebu', N'anika123', N'Receptionist')
INSERT [dbo].[Userinfo] ([Id], [Name], [Password], [Role]) VALUES (N'u-003', N'Tanzim', N'3456', N'Receptionist')
GO
